/* Custom variables */
:root {
  --primary-color: #232f3e;
  --primary-hover: #2e3d50;
  --primary-hover-bg: #2e3d5011;
  --secondary-color: #d9eafd;
  --tertiary-color: #729dcf;
  --success-color: #198754;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #0dcaf0;
  --light-color: #f8f9fa;
  --dark-color: #212529;
  --border-color: #dee2e6;
  --transition-speed: 0.3s;

  --border-radius-md: 12px;
}
